@import './assets/scss/app.scss';
// .live-tv{
//     background-color: #8ABE8E;
//     padding: 0.375rem 1.75rem;
//     font-size: 14px;
//     border-color: #8ABE8E !important;
//     -webkit-tap-highlight-color: transparent;
//     transform: translateZ(0);
//   }

.bg-amber-300 {
  background-color: #3eff3e;
  font-weight: bold;
}

.live-tv {
  padding: 0.440rem 1.77rem !important;
  border-radius: 0.3rem !important;
  border: none;
  color: #fff;
  background-color: #8ABE8E;
  border-color: #8ABE8E;
}

.live-tv {
  color: #fff;
  background-color: #8ABE8E;
  border-color: #8ABE8E;
}

.live-tv:focus,
.live-tv.focus {
  outline: none;
}

.live-tv.disabled,
.live-tv:disabled {
  color: #fff;
  background-color: #8ABE8E;
  border-color: #8ABE8E;
}

.live-tv:not(:disabled):not(.disabled):active,
.live-tv:not(:disabled):not(.disabled).active,
.show>.live-tv.dropdown-toggle {
  color: #fff;
  background-color: #8ABE8E;
  border-color: #8ABE8E;
}

.live-tv:not(:disabled):not(.disabled):active:focus,
.live-tv:not(:disabled):not(.disabled).active:focus,
.show>.live-tv.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(84, 220, 53, 0.5);
}

.cursor-pointer {
  cursor: pointer;
}
