.checkbox-wrapper input[type="checkbox"] {
    display: none;
  }
  
  .checkbox-wrapper .terms-label {
    cursor: pointer;
    display: flex;
    align-items: center;
  }
  
  .checkbox-wrapper .terms-label .label-text {
    margin-left: 10px;
  }
  
  .checkbox-wrapper .checkbox-svg {
    width: 30px;
    height: 30px;
  }
  
  .checkbox-wrapper .checkbox-box {
    fill: #5557f7;
    stroke: #e9e4ec;
    stroke-dasharray: 800;
    stroke-dashoffset: 800;
    transition: stroke-dashoffset 0.6s ease-in;
  }
  
  .checkbox-wrapper .checkbox-tick {
    stroke: #e8e2ec;
    stroke-dasharray: 172;
    stroke-dashoffset: 172;
    transition: stroke-dashoffset 0.6s ease-in;
  }
  
  .checkbox-wrapper input[type="checkbox"]:checked + .terms-label .checkbox-box,
    .checkbox-wrapper input[type="checkbox"]:checked + .terms-label .checkbox-tick {
    stroke-dashoffset: 0;
  }
  

  .buttons {
    display: flex;
    justify-content: space-around;
    top: 20px;
    left: 20px;
  }
  
  #myButton {
    width: 150px;
    height: 50px;
    background-color: white;
    margin: 20px;
    color: #568fa6;
    position: relative;
    overflow: hidden;
    font-size: 14px;
    letter-spacing: 1px;
    font-weight: 500;
    text-transform: uppercase;
    transition: all 0.3s ease;
    cursor: pointer;
    border: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 3px;
  }
  
  #myButton:before, #myButton:after {
    content: "";
    position: absolute;
    width: 0;
    height: 2px;
    background-color: #44d8a4;
    transition: all 0.3s cubic-bezier(0.35, 0.1, 0.25, 1);
  }
  
  #myButton:before {
    right: 0;
    top: 0;
    transition: all 0.5s cubic-bezier(0.35, 0.1, 0.25, 1);
  }
  
  #myButton:after {
    left: 0;
    bottom: 0;
  }
  
  #myButton span {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    margin: 0;
    padding: 0;
    z-index: 1;
  }
  
  #myButton span:before, #myButton span:after {
    content: "";
    position: absolute;
    width: 2px;
    height: 0;
    background-color: #44d8a4;
    transition: all 0.3s cubic-bezier(0.35, 0.1, 0.25, 1);
  }
  
  #myButton span:before {
    right: 0;
    top: 0;
    transition: all 0.5s cubic-bezier(0.35, 0.1, 0.25, 1);
  }
  
  #myButton span:after {
    left: 0;
    bottom: 0;
  }
  
  #myButton p {
    padding: 0;
    margin: 0;
    transition: all 0.4s cubic-bezier(0.35, 0.1, 0.25, 1);
    position: absolute;
    width: 100%;
    height: 100%;
  }
  
  #myButton p:before, #myButton p:after {
    position: absolute;
    width: 100%;
    transition: all 0.4s cubic-bezier(0.35, 0.1, 0.25, 1);
    z-index: 1;
    left: 0;
  }
  
  #myButton p:before {
    content: attr(data-title);
    top: 50%;
    transform: translateY(-50%);
  }
  
  #myButton p:after {
    content: attr(data-text);
    top: 150%;
    color: #44d8a4;
  }
  
  #myButton:hover:before, #myButton:hover:after {
    width: 100%;
  }
  
  #myButton:hover span {
    z-index: 1;
  }
  
  #myButton:hover span:before, #myButton:hover span:after {
    height: 100%;
  }
  
  #myButton:hover p:before {
    top: -50%;
    transform: rotate(5deg);
  }
  
  #myButton:hover p:after {
    top: 50%;
    transform: translateY(-50%);
  }
  
  #myButton.success {
    background-color: #44d8a4;
    box-shadow: 0px 5px 10px -10px rgba(0, 0, 0, 0.2);
    transition: all 0.2s ease;
  }
  
  #myButton.success p:before {
    top: -50%;
    transform: rotate(5deg);
  }
  
  #myButton.success p:after {
    color: white;
    transition: all 0s ease;
    content: attr(data-start);
    top: 50%;
    transform: translateY(-50%);
    animation: start 0.3s ease;
    animation-fill-mode: forwards;
  }
  
  @keyframes start {
    from {
      top: -50%;
    }
  }
  
  #myButton.success:hover:before, #myButton.success:hover:after {
    display: none;
  }
  
  #myButton.success:hover span {
    display: none;
  }
  
  #myButton:active {
    outline: none;
    border: none;
  }
  
  #myButton:focus {
    outline: 0;
  }
  .transaction-button-accepted{
    background-color: green;
  }
  .transaction-button-rejected{
    background-color: red;
  }
  