.mobile-number {
    color: blue;
}

.date-picker-to {
    background-color: rgb(238, 238, 238);
    line-height: 1.7;
    width: 40px;
    text-align: center;
    border: 1px solid rgb(204, 204, 204);
    height: 27px;
    color: rgb(119, 119, 119);
}

.search_button{
    background-color: rgba(0, 157, 89, 0.2);
    border: 1px solid #009D59;
    color: #009D59;
    height: 27px;
    // font-weight: 500;
    // padding: .25rem .5rem;
    // font-size: .875rem;
    line-height: 1.0;
    border-radius: .2rem;
    text-align: center;
    vertical-align: middle;
    display: inline-block;
}

.search-icon {
    position: absolute;
    left: 478px;
   height: 15px;
}

.inline-height {
    line-height: 2.0;
}