.badge {
    display: inline-block;
    padding: 0.25em 0.4em;
    font-size: 12.5px;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: 0.25rem;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}
.badge-custom {
    color: #000;
    background-color: #fff;
    padding: 5px;
}

.badge-info {
    color: #fff;
    background-color: #17a2b8;
    padding: 5px;
}

.badge-orange {
    background-color: #EC3F00;
    padding: 5px;
    color: #fff;
}

.cursor-pointer-custom {
    cursor: pointer !important;
}