.allow_button {
  background-color: rgba(0, 157, 89, 0.2);
  border: 1px solid #009d59;
  color: #009d59;
  font-weight: 500;
  padding: 0.25rem 0.5rem;
  font-size: 0.875rem;
  line-height: 1.5;
  border-radius: 0.2rem;
  text-align: center;
  vertical-align: middle;
  display: inline-block;
}

.block_button {
  background-color: rgba(238, 60, 0, 0.4);
  border: 1px solid #ee3c00;
  color: #ee3c00;
  font-weight: 500;
  padding: 0.25rem 0.5rem;
  font-size: 0.875rem;
  line-height: 1.5;
  border-radius: 0.2rem;
  text-align: center;
  vertical-align: middle;
  display: inline-block;
}

.enter_password {
  background-color: #fff;
  border: 1px solid #d6d6d6;
  height: 35px;
  font-size: 13px;
  border-radius: 5px;
  color: #888;
  padding-left: 10px;
  font-weight: 600;
}

.result_text {
  font-weight: 700;
}

.result_text_color {
  color: #888;
}

.pointer {
  cursor: pointer;
}

.path-text {
  font-weight: 600;
}

.exposure-txt {
  font-weight: 700;
  color: #007bff;
  cursor: pointer;
  &:hover {
    color: #0056b3;
  }
}
