.cardBg {
  background-color: #dfdcff !important;
  cursor: pointer !important;
  // min-height: 113px;
  justify-content: space-around;
}

.iconCard-img {
  width: 50px;
}

.card-bdy {
  max-width: 140px;
  min-width: 140px;
}
@media (max-width: 768px) {
  .card-bdy {
    max-width: 100px;
    min-width: 100px;
  }
  .iconCard-img {
    width: 40px;
  }
  .cardBg {
    // min-height: 100px;
    max-height: 100px;
  }
}
