/* Add styling for the chart skeleton with shimmer animation */
.skeleton-chart {
  width: 175px;
  height: 175px;
  border-radius: 50%;
  background: linear-gradient(to right, #f0f0f0 0%, #ddd 50%, #f0f0f0 100%);
  background-size: 200% 100%;
  animation: shimmer 1.5s infinite;
}

/* Add styling for the order content skeleton with shimmer animation */
.skeleton-order {
  display: flex;
  align-items: center;
  padding: 10px 0;
  animation: shimmer 1.5s infinite;
}

@keyframes shimmer {
  0% {
    background-position: 200% 0;
  }

  100% {
    background-position: -200% 0;
  }
}

.skeleton-order>div {
  flex-grow: 1;
}

.skeleton-order .f-light,
.skeleton-order h4 {
  width: 100px;
  height: 18px;
  border-radius: 10px;
  background: linear-gradient(to right, #f0f0f0 0%, #ddd 50%, #f0f0f0 100%);
  background-size: 200% 100%;
  margin: 0;
  animation: shimmer 1.5s infinite;
}