/* Add appropriate styles for the skeleton loading */
.widget-round.skeleton {
  width: 45px;
  height: 45px;
  border: none;
  border-radius: 50%;
  background-color: #ddd;
  background: linear-gradient(to right, #f0f0f0 0%, #ddd 50%, #f0f0f0 100%);
  /* Shimmer effect */
  background-size: 200% 100%;
  animation: shimmer 1.5s infinite;
  /* Gray color for skeleton */
}

.bg-round.skeleton-icon {
  width: 60px;
  height: 60px;
  background-color: #ddd;
  border-radius: 50%;
  margin: 0;
}

.skeleton-total {
  width: 100%;
  height: 20px;
  background-color: #ddd;
  margin-top: 10px;
  border-radius: 10px;
  background: linear-gradient(to right, #f0f0f0 0%, #ddd 50%, #f0f0f0 100%);
  /* Shimmer effect */
  background-size: 200% 100%;
  animation: shimmer 1.5s infinite;
}

.skeleton-title {
  width: 100px;
  height: 16px;
  background-color: #ddd;
  margin-top: 5px;
  border-radius: 10px;
  background: linear-gradient(to right, #f0f0f0 0%, #ddd 50%, #f0f0f0 100%);
  /* Shimmer effect */
  background-size: 200% 100%;
  animation: shimmer 1.5s infinite;
}

@keyframes shimmer {
  0% {
    background-position: 200% 0;
  }

  100% {
    background-position: -200% 0;
  }
}