.delete-btn {
  text-align: center;
  border-radius: 10px;
  font-size: 20px;
  padding: 4px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  background-color: #ff6070;
  color: white;
  width: 40px;
}

.delete_btn-icon {
  font-size: 20px;
}

.delete-btn-disabled {
  text-align: center;
  border-radius: 10px;
  font-size: 20px;
  padding: 4px;
  cursor: not-allowed;
  display: flex;
  justify-content: center;
  margin-top: 5px;
  background-color: #e6a2a8;
  color: white;
  width: 40px;
}
