.custom-modal .modal-dialog {
    max-width: 90%; /* Adjust max-width as needed */
  }
  
  .custom-modal .modal-body {
    padding: 20px; /* Adjust padding as needed */
  }
  
  .custom-modal .modal-body .row {
    display: flex;
    flex-wrap: wrap;
  }
  
  .custom-modal .modal-body .col-md-4 {
    flex: 0 0 100%;
    max-width: 100%;
    padding: 10px;
  }
  
  @media (min-width: 576px) {
    .custom-modal .modal-body .col-md-4 {
      flex: 0 0 50%;
      max-width: 50%;
    }
  }
  
  @media (min-width: 768px) {
    .custom-modal .modal-body .col-md-4 {
      flex: 0 0 33.33333%;
      max-width: 33.33333%;
    }
  }
  
  @media (min-width: 992px) {
    .custom-modal .modal-body .col-md-4 {
      flex: 0 0 25%;
      max-width: 25%;
    }
  }


  .btn-outline-dark:hover {
    background-color: transparent; /* Keeps the background transparent on hover */
  }
  
  