.settlement-btn {
  width: 120px !important;
  color: #009d59 !important;
  background-color: #53ba4a33 !important;
  padding: 0.3rem 0.6rem !important;
}

.settlement-btn {
  &:hover {
    background-color: #54ba4a !important;
    color: #ffffff !important;
  }
}
.currency-edit {
  width: 80px !important;
  color: #7366FF !important;
  background-color: #7366ff33 !important;
  padding: 0.3rem 0.6rem !important;
}

.currency-edit {
  &:hover {
    background-color: #7366FF !important;
    color: #ffffff !important;
  }
}
.currency-edit-cross {
  width: 80px !important;
  color: #EE3C00 !important;
  background-color: rgba(247, 0, 0, 0.2) !important;
  padding: 0.3rem 0.6rem !important;
}

.currency-edit-cross {
  &:hover {
    background-color: #EE3C00 !important;
    color: #ffffff !important;
  }
}

.deposit {
  color: #009d59 !important;
  background-color: #53ba4a33 !important;
  padding: 0.3rem 0.6rem !important;
  border: 1px solid #009D59 !important;
  transition: 200ms;
}


.deposit {
  &:hover {
    background-color: #54ba4a !important;
    color: #ffffff !important;
  }
}

.withdrawal {
  color: #7366FF !important;
  background-color: #7366ff33 !important;
  padding: 0.3rem 0.6rem !important;
  border: 1px solid #7366FF;
  transition: 200ms;
}

.withdrawal {
  &:hover {
    color: #ffffff !important;
    background-color: #7366FF !important;

  }
}


.settlement-btn-2 {
  width: 120px !important;
  color: #EE3C00 !important;
  background-color: #f7000033 !important;
  padding: 0.3rem 0.5rem !important;
}

.settlement-btn-2 {
  &:hover {
    background-color: #EE3C00 !important;
    color: #ffffff !important;
  }
}

.settlement-btn-0 {
  width: 120px !important;
  color: rgb(6, 105, 112) !important;
  background-color: rgba(71, 167, 170, 0.2) !important;
  padding: 0.3rem 0.5rem !important;

  &:hover {
    background-color: rgb(77, 186, 201) !important;
    color: #ffffff !important;
  }
}

.settlement-history-btn,
.credit-ref-btn {
  color: #36706d !important;
  background-color: rgba(54, 112, 109, 0.2) !important;
  padding: 0.3rem 0.6rem !important;
}

.credit-ref-btn {
  // padding: 0.2rem 0.3rem !important;
}

.settlement-history-btn,
.credit-ref-btn {
  &:hover {
    color: #ffffff !important;
    background-color: #36706d !important;
  }
}



// ACTIVE AND INACTIVE USER BUTTON


label {
  align-items: center;
  gap: 14px;
  cursor: pointer;
  user-select: none;
  border-radius: 10px;
 }
 
//  input {
//   display: none;
//  }

 input + label .action {
  position: relative;
  overflow: hidden;
  display: grid;
 }
 
 input + label .action span {
  grid-column-start: 1;
  grid-column-end: 1;
  grid-row-start: 1;
  grid-row-end: 1;
  transition: all .5s;
 }
 
 input + label .action span.option-1 {
  background-color: #D20F0D33;
  padding: 7px 15px ;
  border-radius: 5px;

  transform: translate(0px,0%);
  opacity: 1;
 }

 input:checked + label .action span.option-1 {
  background-color: #D20F0D33;
  padding: 7px 15px ;
  border-radius: 5px;
  transform: translate(0px,-100%);
  opacity: 0;
 }
 
 input + label .action span.option-2 {
  background-color: #54ba4a33 ;
  padding: 7px 15px ;
  border-radius: 5px;
  
  transform: translate(0px,100%);
  opacity: 0;
 }
 
 input:checked + label .action span.option-2 {
  background-color: #54ba4a33 ;
  border-radius: 5px;
  padding: 7px 15px ;

  transform: translate(0px,0%);
  opacity: 1;
 }
 